# Build output directories
Debug/
Release/
build/
build-*/
cmake-build-*/

# IDE and editor files
.idea/
.vscode/

# STM32CubeIDE / Eclipse project files
.settings/
.metadata/

# STM32CubeMX files


# CMake generated
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
*.make
*.marks

# Compiled objects and binaries
*.o
*.a
*.elf
*.hex
*.bin
*.map
*.list
*.d

# macOS
.DS_Store

# Python caches
__pycache__/
*.pyc

# host-pc unit test build dir
build_host/
build_host_tests/
build_arm/
host_tests/build-*/
